#perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    border-radius: 30px;
    padding: 3vh 0px 3vh 0px;
}
img {
    width: 60%;
    height: auto;
    border-radius: 100%;
}