#ConteudoInicial{
    padding: 5vh 5vw 5vh 5vw;
}

#ConteudoInicial h1, h2 {
    font-size: larger;
    font-weight: 400;
}
#ConteudoInicial h3, h4 {
    font-size: large;
    font-weight: 400;
}
#ConteudoInicial p {
    font-size: medium;
    font-weight: 350;
}

.areasInteresse {
    display: flex;
    padding: 2vh 0px 3vh 0px;
    justify-content: space-between;
}

.back, .front{
    display: flex;
    justify-content: left;
    padding-right: 2vw;
}