html,
body,
#root {
    height: 100%;
    margin: 0;
  background-color: #EFEEEF;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#footer {
    margin-top: 0px;
    padding: 10px 0;
}
